/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "variables";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/animation";

@import "compass/reset";

html,body{
  background:#ccc;
  overflow: hidden;
  position: absolute;
  width:100%;
  height: 100%;
}

.stage{
  position:absolute;
  left:50vw;
  top:50vh;
  margin:auto;
}

.square{
  position: absolute;
  @include box-sizing();
  @include transition();
  .origin{
    position:absolute;
    &:after,&:before{
      content:' ';
      display:block;
      border-width: 0px;
      border-style: solid;
      position:absolute;
      z-index: 10;
    }
    &:after{
      top:-5px;
      height: 10px;
      border-color: #000;
      border-left-width:1px;
    }
    &:before{
      left:-5px;
      width: 10px;
      border-color: #00f;
      border-top-width:1px;
    }
  }
  visibility: hidden;
  opacity: 0;
  &.parentOpened,&.base{
    visibility: visible;
    opacity: 1;
  }

  &.TR,&.TL{
    .shape{
      bottom: -1px;
    }
  }
  &.BR,&.TR{
    .shape{
      right: -1px;
    }
  }
  &.BL,&.TL{
    > .children {
      //left: 100%;
    }
  }
  &.BR,&.BL{
    > .children{
      //top:100%;
    }
  }
  .shape {
    border: solid $white 1px;
    background: #fff;
    position: absolute;
    width: 100%;
    @include box-sizing();
    @include transition();

    &.tint-white {
      background-color: $white;
    }
    &.tint-orange {
      background-color: $orange;
    }
    &.tint-blue {
      background-color: $blue;
    }
    &.tint-green {
      background-color: $green;
    }
  }


  .children{
    position:absolute;
    width:0%;
    height:0%;
    left:50%;
    top:50%;
    @include transition();
    //visibility: hidden;
    //opacity: 0;
  }

  &.opened{
    > .children{
      //visibility: visible;
      //opacity:1;
    }
  }

}

