/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/app.scss */
html, body {
  background: #ccc;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 22, ../sass/app.scss */
#stage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

/*
.square{
  position: absolute;
  @include box-sizing();
  @include transition();
  .origin{
    position:absolute;
    &:after,&:before{
      content:' ';
      display:block;
      border-width: 0px;
      border-style: solid;
      position:absolute;
      z-index: 10;
    }
    &:after{
      top:-5px;
      height: 10px;
      border-color: #000;
      border-left-width:1px;
    }
    &:before{
      left:-5px;
      width: 10px;
      border-color: #00f;
      border-top-width:1px;
    }
  }
  visibility: hidden;
  opacity: 0;
  &.parentOpened,&.base{
    visibility: visible;
    opacity: 1;
  }

  &.TR,&.TL{
    .shape{
      bottom: -1px;
    }
  }
  &.BR,&.TR{
    .shape{
      right: -1px;
    }
  }
  &.BL,&.TL{
    > .children {
      //left: 100%;
    }
  }
  &.BR,&.BL{
    > .children{
      //top:100%;
    }
  }
  .shape {
    border: solid $white 1px;
    background: #fff;
    position: absolute;
    width: 100%;
    @include box-sizing();
    @include transition();

    &.tint-white {
      background-color: $white;
    }
    &.tint-orange {
      background-color: $orange;
    }
    &.tint-blue {
      background-color: $blue;
    }
    &.tint-green {
      background-color: $green;
    }
  }


  .children{
    position:absolute;
    width:0%;
    height:0%;
    left:50%;
    top:50%;
    @include transition();
    //visibility: hidden;
    //opacity: 0;
  }

  &.opened{
    > .children{
      //visibility: visible;
      //opacity:1;
    }
  }

}
*/
