/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/app.scss */
html, body {
  background: #ccc;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 22, ../sass/app.scss */
.stage {
  position: absolute;
  left: 50vw;
  top: 50vh;
  margin: auto;
}

/* line 29, ../sass/app.scss */
.square {
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  -o-transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  visibility: hidden;
  opacity: 0;
}
/* line 33, ../sass/app.scss */
.square .origin {
  position: absolute;
}
/* line 35, ../sass/app.scss */
.square .origin:after, .square .origin:before {
  content: ' ';
  display: block;
  border-width: 0px;
  border-style: solid;
  position: absolute;
  z-index: 10;
}
/* line 43, ../sass/app.scss */
.square .origin:after {
  top: -5px;
  height: 10px;
  border-color: #000;
  border-left-width: 1px;
}
/* line 49, ../sass/app.scss */
.square .origin:before {
  left: -5px;
  width: 10px;
  border-color: #00f;
  border-top-width: 1px;
}
/* line 58, ../sass/app.scss */
.square.parentOpened, .square.base {
  visibility: visible;
  opacity: 1;
}
/* line 64, ../sass/app.scss */
.square.TR .shape, .square.TL .shape {
  bottom: -1px;
}
/* line 69, ../sass/app.scss */
.square.BR .shape, .square.TR .shape {
  right: -1px;
}
/* line 83, ../sass/app.scss */
.square .shape {
  border: solid white 1px;
  background: #fff;
  position: absolute;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  -o-transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}
/* line 91, ../sass/app.scss */
.square .shape.tint-white {
  background-color: white;
}
/* line 94, ../sass/app.scss */
.square .shape.tint-orange {
  background-color: #ef6814;
}
/* line 97, ../sass/app.scss */
.square .shape.tint-blue {
  background-color: #57b5f4;
}
/* line 100, ../sass/app.scss */
.square .shape.tint-green {
  background-color: #61d772;
}
/* line 106, ../sass/app.scss */
.square .children {
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  top: 50%;
  -moz-transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  -o-transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}
